<header>
    <a href="/">
        <h1>Managing your personal budget</h1>
    </a>
    <a href="/">
        <button>Home</button>
    </a>
    <a href="/registerOperation">
        <button>Register new operation</button>
    </a>
    
    <hr>
</header>