<div>
    <br>
    <hr>
    <a href="/incomesList">
        <button>Incomes</button>
    </a>
    <a href="/expensesList">
        <button>Expenses</button>
    </a>

    <a href="/allOperations">
        <button>All operations</button>
    </a>

    <hr>
</div>